h1,
title,
h2,
p,
table,
th,
td {
    color: red;
}

h1,
h2,
p {
    text-align: center;
}

/* table */

table,
th,
td {
    border: 1px solid red;
    border-collapse: collapse;
    width: 600px;
}

td {
    border: 1px solid red;
    padding: 15px;
    font-size: 24px;
}

th,
td {
    padding: 10px;
}

.content {
    margin-left: 200px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* background */

html {
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    flex-direction: column;
}

head {
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* navbar*/

@media (max-width: 760px) {
    body {
        display: block;
    }
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 90px;
    height: 100vh;
    background-color: black;
    padding-top: 20px;
    display: block;
    flex-direction: column;
    border-color: black;
    gap: 30px;
}

.navbar .socials {
    margin-top: auto;
    margin-bottom: 20px;
}

.navbar a {
    color: red;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 20px;
    transition: 0.3s;
} 

.navbar a:hover {
    background-color: red;
    color: black;
}

/* text bubble */

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bubble {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 600px;
    min-height: 300px;

    background: black;
    color: white;

    border-radius: 45px;
    padding: 40px;

    font-family: Arial, sans-serif;
    font-size: 24px;
    text-align: center;

    box-sizing: border-box;
}

.bubble-whyict {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 600px;
    min-height: 300px;

    background: black;
    color: white;

    border-radius: 45px;
    padding: 40px;

    font-family: Arial, sans-serif;
    font-size: 24px;
    text-align: center;

    box-sizing: border-box;
}

/* pictures profile */

.pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.games {
    position: absolute;
    right: 0px;
    top: 0%;
    width: 363px;
    height: 272px;
}

.picture-drum {
    position: absolute;
    left: 90px;
    top: 85%;
    transform: translateY(-50%);
    width: 200px;
}

.dirtbike-picture {
    position: absolute;
    left: 90px;
    top: 15%;
    transform: translateY(-50%);
    width: 200px;
}

.picture-molly {
    position: absolute;
    left: 290px;
    top: 85%;
    transform: translateY(-50%);
    width: 200px;
}

.music {
    position: absolute;
    right: 0px;
    top: 84%;
    transform: translateY(-50%);
    width: 600px;
    height: 294px;
}

/* flexbox container*/

.flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
}